/*
    Document   : win 7 glass css styles for JavaFX 2+ controls.
    Created on : May 22, 2012, 3:31:03 PM
    Description:
        Attempt to recreate Win 7 glass theme. If a -fx- variable isnt defined
        in this CSS stylesheet, I am referecing it in the default style sheet
        "caspian.css".

        In this version: Menus have been styled. However, a fundamental problem
        exists. Currently Im perplexed. I'd like your thoughts: Is it possible
        in CSS to detect if a graphic Icon exists? I originally thought using
        the '.menu-item .graphic-container {}' class as a part of clever css to
        override the .context-menu {} styles. I thought in this situation it is
        known that a graphic icon exists. And I could work from that.

        If you have thoughts, please advise.

        The issue will be obvious if your menu doesnt contain any graphic icons.
        The line will appear behind menu item text. However, progress is being
        made!
*/

/***************************************************************************
*                                                                         *
* The main color palette from which the rest of the colors are derived.   *
*                                                                         *
**************************************************************************/
.root {
    -fx-text-base-color: #000000;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

/* OK */
.tooltip {

    -fx-background-color: rgba(112,112,112,0.95),
    linear-gradient(
            to bottom,
            rgb(255,255,255),
            rgb(229,229,237));

    -fx-background-insets: 1,2;
    -fx-background-radius: 3,2;
    -fx-padding: 5 7 5 7;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3),3,0,2,2);
}

/* Page Corner. */
.page-corner {

    -fx-shape: null;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

/* OK */
.button {

    -fx-background-color:
            rgb(112,112,112),
            linear-gradient(
                    to bottom,
                    rgb(252,252,252) 0%,
                    rgb(250,250,250) 50%,
                    rgb(246,246,246) 50%,
                    rgb(243,243,243) 100%),
            linear-gradient(
                    to bottom,
                    rgb(242,242,242) 0%,
                    rgb(235,235,235) 50%,
                    rgb(221,221,221) 50%,
                    rgb(207,207,207) 100%);


    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0.40em 0.833333em 0.40em 0.833333em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

/* OK */
.button:focused {

    -fx-background-color: rgb(60,127,177),
    linear-gradient(
            to bottom,
            rgb(55,213,254) 0%,
            rgb(54,212,253) 50%,
            rgb(49,210,251) 50%,
            rgb(44,206,248) 100%),
    linear-gradient(
            to bottom,
            rgb(178,234,250) 0%,
            rgb(173,231,247) 50%,
            rgb(158,222,241) 50%,
            rgb(144,212,234) 100%),
    linear-gradient(
            to bottom,
            rgb(237,245,249) 0%,
            rgb(231,241,246) 50%,
            rgb(208,229,240) 50%,
            rgb(191,218,233) 100%);

    -fx-background-insets: 0, 1, 2, 3;
    -fx-background-radius: 3, 2, 2, 1;
}

/* OK */
.button:hover {

    -fx-background-color: rgb(60, 127, 177),
    linear-gradient(
            to bottom,
            rgb(250, 253, 254) 0%,
            rgb(245, 251, 254) 50%,
            rgb(239, 249, 254) 50%,
            rgb(232, 245, 252) 100%),
    linear-gradient(
            to bottom,
            rgb(234, 246, 253) 0%,
            rgb(217, 240, 252) 50%,
            rgb(190, 230, 253) 50%,
            rgb(167, 217, 245) 100%);
}

/* OK */
.button:armed {

    -fx-background-color: rgb(44, 98, 139),
    linear-gradient(
            to bottom,
            rgb(157, 175, 185) 0%,
            rgb(154, 186, 203) 50%,
            rgb(120, 170, 197) 50%,
            rgb(85, 146, 181) 100%),
    linear-gradient(
            to bottom,
            rgb(228, 243, 251) 0%,
            rgb(196, 229, 246) 50%,
            rgb(152, 209, 239) 50%,
            rgb(104, 178, 218) 100%);

    -fx-color: -fx-pressed-base;
    -fx-background-insets: 0, 1, 2 2 1 2;
    -fx-background-radius: 3, 2, 2;
}

.button:default {
    -fx-base: -fx-accent;
}

.button:cancel {
}

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em;
    -fx-text-fill: #000;
}

/* OK */
.check-box .box {

    -fx-background-color:
            rgb(142,143,143),
            rgb(244,244,244),
            linear-gradient(
                    to bottom right,
                    rgb(174,179,185) 0%,
                    rgb(233,233,234) 75%,
                    rgb(233,233,234) 100%
            ),
            linear-gradient(
                    to bottom right,
                    rgb(203,207,213) 0%,
                    rgb(246,246,246) 84%,
                    rgb(246,246,246) 100%
            );

    -fx-background-insets: 0, 1, 2, 3;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 0.25em;
}

/* OK */
.check-box:focused .box {

    -fx-background-color:
            rgb(85,134,163),
            rgb(222,249,250),
            linear-gradient(
                    to bottom right,
                    rgb(121,198,245) 35%,
                    rgb(207,236,253) 100%),
            linear-gradient(
                    to bottom right,
                    rgb(177,223,253) 0%,
                    rgb(231,247,254) 85%);
}

/* OK */
.check-box:hover .box {

    -fx-background-color:
            rgb(85,134,163),
            rgb(222,249,250),
            linear-gradient(
                    to bottom right,
                    rgb(121,198,249) 0%,
                    rgb(121,198,249) 54%,
                    rgb(207,236,253) 85%,
                    rgb(207,236,253) 100%),
            linear-gradient(
                    to bottom right,
                    rgb(177,223,253) 0%,
                    rgb(231,247,254) 75%,
                    rgb(231,247,254) 100%);
}

/* OK */
.check-box:armed .box {

    -fx-background-color:
            rgb(44,98,139),
            rgb(194,228,246),
            linear-gradient(
                    to bottom right,
                    rgb(94,182,247) 0%,
                    rgb(94,182,247) 54%,
                    rgb(193,230,252) 85%,
                    rgb(193,230,252) 100%),
            linear-gradient(
                    to bottom right,
                    rgb(157,213,252) 0%,
                    rgb(224,244,254) 75%,
                    rgb(224,244,254) 100%);

    -fx-color: -fx-pressed-base;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0;
    -fx-padding: 0.333333em;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

/* OK */
.check-box:indeterminate .mark {
    -fx-background-color: rgb(74,95,151);
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}

/* OK */
.check-box:selected .mark {
    -fx-background-color: rgb(74,95,151);
}

.check-box:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.check-box:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em;
    -fx-text-fill: -fx-text-background-color;
}

.radio-button:focused {
    -fx-color: -fx-focused-base;
}

/* OK */
.radio-button .radio  {

    -fx-background-color:
            rgb(145,146,146),
            rgb(242,242,242),
            rgb(181,186,196),
            radial-gradient(
                    center 65% 65%,
                    radius 100%,
                    rgba(255,255,255,0.85),
                    rgba(255,255,255,0));

    -fx-background-insets: 0, 1, 2, 3 2 2 3;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.25em;
}

/* OK */
.radio-button:focused .radio {

    -fx-background-color:
            rgb(85,134,163),
            rgb(222,249,250),
            rgb(121,198,249),
            radial-gradient(
                    center 65% 65%,
                    radius 100%,
                    rgba(255,255,255,0.85),
                    rgba(255,255,255,0))
}

/* OK */
.radio-button:hover .radio {

    -fx-background-color:
            rgb(85,134,163),
            rgb(222,249,250),
            rgb(121,198,249),
            radial-gradient(
                    center 65% 65%,
                    radius 100%,
                    rgba(255,255,255,0.85),
                    rgba(255,255,255,0))
}

/* OK */
.radio-button:armed .radio {

    -fx-background-color:
            rgb(44,98,139),
            rgb(194,228,246),
            rgb(75,154,215),
            radial-gradient(
                    center 65% 65%,
                    radius 100%,
                    rgba(255,255,255,0.85),
                    rgba(255,255,255,0));

    -fx-color: -fx-pressed-base;
}

.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.25em;
}

/* OK */
.radio-button:selected .dot {

    -fx-background-color:
            rgb(25,52,74),
            linear-gradient(
                    to bottom right,
                    rgb(255,255,255) 0%,
                    rgb(11,130,199) 40%),
            radial-gradient(
                    center 10% 10%,
                    radius 70%,
                    rgb(255,255,255),
                    rgba(255,255,255,0.2));

    -fx-background-insets: 0, 1, 1;
}

.radio-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.radio-button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
    -fx-background-color:
            rgb(151,151,151), /* Menu BG Border, Inset: 0 */
            rgb(245,245,245), /* inner highlight color, Inset: 1 */
            rgb(240,240,240); /* off white on right side of gray vertica divider, Inset: 2 2 2 27 */

    /* Does the gray vertical divider spacing break with font size differences?
    Currently I have 3 pixels b/n menu icon and gray vertical divider. I
    also have 3 pixels b/n gray vert divider and start of menu text. */
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0,0,0,0,0,0;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3),3,0,2,2);
}

.context-menu {

    -fx-background-color:
            rgb(151,151,151), /* Menu BG Border, Inset: 0 */
            rgb(245,245,245), /* inner highlight color, Inset: 1 */
            rgb(241,241,241), /* off white on left side of gray vertical divider, Inset: 2 */
            rgb(226,227,227), /* gray vertical divider, Inset: 2 2 2 25 */
            rgb(255,255,255), /* white highlight for vert divider, Inset: 2 2 2 26 */
            rgb(240,240,240); /* off white on right side of gray vertica divider, Inset: 2 2 2 27 */

    -fx-background-insets: 0, 1, 2, 2 2 2 25, 2 2 2 26, 2 2 2 27;
    -fx-background-radius: 0,0,0,0,0,0;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3),3,0,2,2);
}

.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em; /* 0 4 0 4 */
}

.context-menu .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: transparent;
}

.context-menu .scroll-arrow:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.context-menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * Menu                                                                        *
 *                                                                             *
 ******************************************************************************/

/* Each Top Level Menu Item: File, Etc, Etc...*/
.menu {
    -fx-background-color: transparent;
    -fx-padding: 0.42em 0.4em 0.3em 0.4em; /* 4 8 4 8 */
    -fx-text-fill: rgb(0,0,0);
}

.menu:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/* This hides the down arrow that would show on a menu placed in a menubar */
.menu-bar .menu .arrow {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: null;
}

.menu-bar .menu .arrow-button {
    -fx-padding: 0;
}

.menu .arrow {
    -fx-background-color: rgb(40,40,40);
    -fx-shape: "M0,-4L4,0L0,4Z";
    -fx-scale-shape: false;
}

.menu:focused:showing .arrow, .menu:hover:showing .arrow, .menu:focused .arrow, .menu:showing .arrow {
    -fx-background-color: black;
}

.menu-up-arrow {
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;  /* 8 5 0 5 */
    -fx-background-color: derive(-fx-color,-2%);
    -fx-shape: "M0 1 L1 1 L.5 0 Z";
    -fx-effect: innershadow( two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 1 );
}

.menu-down-arrow {
    -fx-background-color: derive(-fx-color,-2%);
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;  /* 8 5 0 5 */
    -fx-shape: "M0 0 L1 0 L.5 1 Z";
    -fx-effect: innershadow( two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 1 );
}

/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/

/* TO DO: Experiment with rgba() for linear gradients so bg shows through. */
.menu-bar {

    /*-fx-padding: 0.0em 0.666667em 0.0em 0.666667em;*/
    -fx-padding: 0 0 0 0;
    -fx-spacing: 0.166667em;

    -fx-background-color:
            rgb(182,188,204),
            linear-gradient(
                    to bottom,
                    rgb(254,254,255) 0%,
                    rgb(242,244,250) 35%,
                    rgb(233,236,246) 35%,
                    rgb(240,242,250) 100%),
            linear-gradient(
                    to bottom,
                    rgb(254,254,255) 0%,
                    rgb(229,234,245) 35%,
                    rgb(212,219,237) 35%,
                    rgb(225,230,246) 100%);

    -fx-background-insets: 0, 0 0 1 0, 0 1 1 1;
    -fx-background-radius: 0, 0, 0;
}

/* Show nothing for background of normal menu button in a menu bar */
.menu-bar .menu-button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Change padding of menu buttons when in menu bar */
.menu-bar .menu-button .label {
    -fx-padding: 0.1em 0.5em 0.2em 0.5em;
}

.menu-bar .menu-button:hover {
    -fx-text-fill: rgb(0,0,0);
    -fx-background-color:
            linear-gradient(
                    to bottom,
                    rgb(176,177,177) 0%,
                    rgb(160,163,171) 40%,
                    rgb(148,153,165) 40%,
                    rgb(127,131,142) 100%),
            linear-gradient(
                    to bottom,
                    rgb(253,253,254) 0%,
                    rgb(244,246,251) 30%,
                    rgb(236,239,247) 30%,
                    rgb(213,216,224) 60%,
                    rgb(239,241,249) 100%),
            linear-gradient(
                    to bottom,
                    rgba(246,248,250,0.2),
                    rgba(229,233,240,0.2),
                    rgba(215,220,233,0.2));

    -fx-background-insets: 3,4,5,5;
    -fx-background-radius: 3,2,2,2;

    /*linear-gradient(
            to bottom,
            rgb(246,248,250) 0%,
            rgb(229,233,240) 30%,
            rgb(215,220,233) 30%,
            rgb(211,217,231) 60%,
            rgb(196,202,217) 60%,
            rgb(224,228,243) 100%);*/
}

.menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-text-fill: rgb(0,0,0);
    -fx-background-color:
            linear-gradient(
                    rgb(88,88,89) 0%,
                    rgb(64,66,71) 100%),
            linear-gradient(
                    rgb(159,160,162) 0%,
                    rgb(173,176,187) 100%),
            linear-gradient(
                    rgb(182,184,187) 0%,
                    rgb(200,205,218) 100%),
            linear-gradient(
                    rgb(200,202,208) 0%,
                    rgb(205,209,219) 35%,
                    rgb(194,200,217) 35%,
                    rgb(213,218,233) 100%);

    -fx-background-insets: 3,4,5,5;
    -fx-background-radius: 3,2,2,2;
}

.menu-bar:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/

.menu-item {

    /*-fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em; */  /* 4 5 4 5 */
    -fx-padding: 0.6em 0.82em 0.6em 0.62em;
}

.menu-item .left-container {
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
    -fx-background-color: #ffffff;
}

.menu-item .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}

/* Adds padding to the label text. For ex, adds .05em spacing b/n label text
    and Shortcut accelerator text. */
.menu-item .label {
    -fx-padding: 0em 0.5em 0em 0em;
    -fx-text-fill: rgb(0,0,0); /* Menu Item Text Color */
}

.menu-item:disabled .label {
    -fx-opacity: -fx-disabled-opacity;
}

/* Menu Item Hover */
.menu-item:focused {
    -fx-background: -fx-accent;
    -fx-background-color:
            rgb(174,207,247),
            linear-gradient(
                    to bottom,
                    rgb(248,248,250) 0%,
                    rgb(239,244,250) 100%),
            linear-gradient(
                    to bottom,
                    rgb(243,248,247) 0%,
                    rgb(231,238,247) 100%);

    -fx-background-insets: 3, 4, 5;
    -fx-background-radius: 3, 2, 1 ;
    -fx-text-fill: rgb(0,0,0);

}

.menu-item:focused .label {
    -fx-text-fill: rgb(0,0,0);
}
.menu-item .right-container {
    -fx-padding: 0em 0em 0em 0.5em;
}

.menu-item:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}


.radio-menu-item:checked .radio {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,5H2L4,8L8,0H10L5,10H3Z";
    -fx-scale-shape: false;
}

.radio-menu-item:focused:checked .radio {
    -fx-background-color: white;
}

.check-menu-item:checked .check {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,5H2L4,8L8,0H10L5,10H3Z";
    -fx-scale-shape: false;
}

.check-menu-item:focused:checked .check {
    -fx-background-color: white;
}

.menu .arrow {
    -fx-padding: 0.458em 0.167em 0.458em 0.167em; /* 4.5 2 4.5 2 */
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,-4L4,0L0,4Z";
    -fx-scale-shape: false;
}

.menu:selected .arrow {
    -fx-background-color: rgb(40,40,40);
}

.menu-item:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
